@media(max-width:1080px)
{
/*.volunter-social
{
    background: rgba(132, 197, 78, .7);
    color: #fff;
    position: absolute;
    top: 258px;
    right: 15px;
    left: 15px;
    text-align: center;
    padding: 5px 0;

}*/

.text6, .text7, .fsize-big1
{
	left:30px !important;
}
.btn-red {
    background-color: rgba(249, 8, 76, .7);
    color: #fff;
    border-radius: 0px;
    margin-top: 0px;
    left: 150px !important;
    top: 400px;
}
}
@media(max-width:991px){
.text6, .text7, .fsize-big1
{
	left:15px !important;
}
.event-box, .blog-box, .box, .volunter-box, .widget, .about-box, .single-box
{
	margin-bottom:30px;
}
.margin-b-30 {
    margin-bottom: 0px;
}
	#header .navbar-default {
     padding-top: 0px;
	 margin-bottom:0px;
}
	.nav-second-main{display:block;}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
.navbar-nav>li {
    float: inherit;
    width: 17%;
    text-align: center;
	}
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {  /* NEW */
        display: block!important;
		width:100%;
    }


}
@media (max-width: 767px){
.box .overlay:hover {
    background: #84c54e;
    padding: 170px 100px;
}
img.img-responsive {
    width: 100%;
    max-width: 100%;
}
.top-left {
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
a.btn.btn-donate {
    background: #84c54e;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    float: none;
    margin: 0 auto;
    margin-top: 10px;
}
a.btn.btn-donate:hover
{
    background:  rgba(132, 197, 78, 1);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    float: none;
    margin: 0 auto;
	   margin-top: 10px;
}
.top-right
{
	float: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
}
.copyright
{
	text-align: center;
}
ul.social-network
{
	text-align: center;
}
.form-fields
{
    float: left;
    margin-right: 1.8%;
    width: 100%;
}
.post-thumb a img
{
	margin-bottom:20px;
}
.marginb-30
{
	margin-bottom:30px;
}
.text6, .text7, .fsize-big1
{
	left:10px !important;
}
.btn-red {
    background-color: rgba(249, 8, 76, .7);
    color: #fff;
    border-radius: 0px;
    margin-top: 0px;
    left: 100px !important;
    top: 400px;
}
.text7
{
	font-size: 10px !important;
    line-height: 13px !important;
}
.fsize-big1, .fsize-big
{
	margin-top:10px !important;
}
}
@media(max-width:600px){

/*.pull-left h1.banner-title
{
	float:none !important;
	text-align:center;
}
.pull-left
{
	float:none !important;
}
.pull-right {
    float: none !important;
	text-align:center;
}
	*/
}
@media(max-width:568px){
}
@media(max-width:480px)
{
.box .overlay:hover 
{
    background: #84c54e;
    padding: 50px 10px;
}
.text6, .text7, .fsize-big1
{
	left:10px !important;
}
.box .overlay:hover 
{
    background: #84c54e;
    padding: 21px 10px;
    font-size: 12px;
}
.fsize-big1, .fsize-big
{
	margin-top:30px !important;
}
}

@media(max-width: 414px){
.box .overlay:hover 
{
    background: #84c54e;
    padding: 21px 10px;
    font-size: 12px;
}}
@media(max-width:384px){
}
@media(max-width:320px)
{

}