{% load static %}
<!--KODE SAB BANNER WRAP START-->
<div class="kode_sab_banner_wrap them_overlay">
	<!--CONTAINER START-->
	<div class="container">
		<div class="sab_banner_text">
			<h2>About Us</h2>
			<ul class="breadcrumbs">
				<li><a href="about-us.html"><i class="fa fa-home"></i></a></li>
				<li><strong>About Us</strong></li>
			</ul>
		</div>
	</div>
	<!--CONTAINER END-->
</div>
<!--KODE SAB BANNER WRAP END-->

<!--KODE MOSQUES WRAP STRAT-->
<div class="kode_mosques_wrap">
	<!--CONTAINER STRAT-->
	<div class="container">
		<!--ROW STRAT-->
		<div class="row">
			<div class="col-md-6">
				<div class="kode_mosque_row mosque">
					<figure class="them_overlay" style="max-height:520px;">
						<img src="{% static 'img/e6.jpg' %}" alt="" style="max-height:520px;"/>
						<a data-rel="prettyPhoto" href="{% static 'img/e6.jpg' %}"><i class="fa fa-clone"></i></a>
					</figure>
				</div>	
			</div>
			<div class="col-md-6">
				<div class="kode_mosque_text">
					<div class="section_hdg">
						<h3>About Us</h3>
					</div>
					<div class="kode_mosque_item">
						<p>
							Agaie, town and traditional emirate, Niger state, North - central Nigeria.The town lies at the intersection of roads from Bida, Baro,
							Tagagi, Lapai, and Ebba.Originally inhabited by the Dibo(Ganagana, Zitako), a people associated with the Nupe, it fell under
							the sway of Malam Baba, a Fulani warrior, in 1822. After Baba had extended his territory south to the Niger River, he requested the
							emir of Gwandu, the Fulani empire’ s overlord of the western emirates, to establish a new emirate; in 1832 Baba’ s son Abdullahi was
							inaugurated as the first emir of Agaie.Shortly after the chiefs of Agaie emirate had given military aid to Bida(the adjacent Fulani emirate to the west) in its campaign of 1897 against the Royal Niger Company, Agaie was occupied by the British.
							In 1908 the emirate became part of a newly created administrative unit.Its present population, still predominantly Nupe, is mainly
							engaged in farming
						</p>
						<ul class="kode_counter_mosque">
							<li>
								<span class="counter">1822</span>
								<h6><a href="#">Established</a></h6>
							</li>
							<li>
								<span class="counter">132,907</span>
								<h6><a href="#">Population</a></h6>
							</li>
							<li>
								<span class="counter">1,903</span>
								<h6><a href="#">Area</a></h6>
							</li>
							<li>
								<span class="counter">22</span>
								<h6><a href="#">Districts</a></h6>
							</li>
						</ul>
						<div class="koed_banner_btn">
							<a class="medium_btn border margin-right-1 btn_hover" href="#">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--ROW END-->
	</div>
	<!--CONTAINER END-->
</div>