{% load static %}
<div class="kode_banner_wrap">
	<ul class="bxslider">
		<li>
			<figure class="them_overlay" style="max-height:754px;">
				<img src="{% static 'img/e3.jpg' %}" alt="" style="max-height:754px;">
				<div class="kode_banner_text">
					<div class="large_text">Mai Martaba</div>
					<div class="mediume_text">Alhaji Yusuf Nuhu</div>
					<div class="small_text">13th Emir of Agaie Emirate Council</div>
					<div class="koed_banner_btn wow">
						<a class="medium_btn border margin-right-1 btn_hover" href="#">Read More</a>
						<a class="medium_btn border btn_hover" href="contact">Contact Us</a>
					</div>
				</div>
			</figure>
		</li>
		<li>
			<figure class="them_overlay" style="max-height:754px;">
				<img src="{% static 'img/e2.jpg' %}" alt="" style="max-height:754px;">
				<div class="kode_banner_text">
					<div class="large_text">Mai Martaba</div>
					<div class="mediume_text">Alhaji Yusuf Nuhu</div>
					<div class="small_text">13th Emir of Agaie Emirate Council</div>
					<div class="koed_banner_btn">
						<a class="medium_btn border margin-right-1 btn_hover" href="#">Read More</a>
						<a class="medium_btn border btn_hover" href="contact">Contact Us</a>
					</div>
				</div>
			</figure>
		</li>
		<li>
			<figure class="them_overlay" style="max-height:754px;">
				<img src="{% static 'img/e5.jpg' %}" alt="" style="max-height:754px;">
				<div class="kode_banner_text">
					<div class="large_text">Mai Martaba</div>
					<div class="mediume_text">Alhaji Yusuf Nuhu</div>
					<div class="small_text">13th Emir of Agaie Emirate Council</div>
					<div class="koed_banner_btn">
						<a class="medium_btn border margin-right-1 btn_hover" href="#">Read More</a>
						<a class="medium_btn border btn_hover" href="/contact">Contact Us</a>
					</div>
				</div>
			</figure>
		</li>
	</ul>	
	<div id="bx-pager" class="pager_link">
		<a data-slide-index="0" href="index.html"><img src="{% static 'img/e3.jpg' %}" alt="" /></a>
		<a data-slide-index="1" href="index.html"><img src="{% static 'img/e2.jpg' %}" alt="" /></a>
		<a data-slide-index="2" href="index.html"><img src="{% static 'img/e5.jpg' %}" alt="" /></a>
	</div>
</div>