{% load static %}
<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>HOME PAGE</title>
			<!--BOOTSTRAP CSS-->
			<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/slick.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/audio.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/prettyphoto.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/demo-page.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/component.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/hover.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/jQuery-plugin-progressbar.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/animate.css' %}" rel="stylesheet">
			<!--fontawseme CSS-->
			<link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
			<!--THEME TYPO CSS-->
			<link href="{% static 'css/typography.css' %}" rel="stylesheet">
			<!--THEME TYPO CSS-->
			<link href="{% static 'css/shotcode.css' %}" rel="stylesheet">
			<!--THEME TYPO CSS-->
			<link rel="stylesheet" href="{% static 'style.css' %}">
			<!--svg-icon CSS-->
			<link rel="stylesheet" href="{% static 'svg-icon.css' %}">
			<!--COLOR CSS-->
			<link rel="stylesheet" href="{% static 'css/color.css' %}">
			<!--COLOR CSS-->
			<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
			
		</head>
		<body>
		    <div class="wrapper">
    		    {% block content %}
    		        Hello world
    		    {% endblock %}
		    </div>
			<!--WRAPER END-->
			<!--JavaScript-->
			<script src="{% static 'js/jquery.js' %}"></script>
			<!--BOOTSTRAP JavaScript-->
			<script src="{% static 'js/bootstrap.js' %}"></script>
			<!--BOOTSTRAP JavaScript-->
			<script src="{% static 'js/slick.min.js' %}"></script>
			<!--js/jquery.downCount.js start-->
			<script src="{% static 'js/wow.min.js' %}"></script>
			<!--BOOTSTRAP JavaScript-->
			<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
			<!--BOOTSTRAP JavaScript-->
			<script src="{% static 'js/jQuery-plugin-progressbar.js' %}"></script>
			<!--BOOTSTRAP JavaScript-->
			<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
			<!--js/jquery.downCount.js start-->
			<script src="{% static 'js/modernizr.custom.js' %}"></script>
			<!--js/jquery.downCount.js start-->
			<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
			
			<script src="{% static 'js/jquery.dlmenu.js' %}"></script>
			<!--BOOTSTRAP JavaScript-->
			<script src="{% static 'js/musicplayer.js' %}"></script>
			<!--BOOTSTRAP JavaScript-->
			<script src="{% static 'js/jquery.prettyphoto.js' %}"></script>
			<!--js/jquery.downCount.js start-->
			<script src="{% static 'js/jquery.downCount.js' %}"></script>
			<!--BOOTSTRAP JavaScript-->
			<script src="{% static 'js/waypoints-min.js' %}"></script>
			<!--CUSTOM JavaScript-->
			<script src="{% static 'js/custom.js' %}"></script>
		</body>
	</html>