{% load static %}
<footer>
	<!--WIDGET WRAP START-->
	<div class="widget_wrap widget_2 them_overlay">
		<!--CONTAINER START-->
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="widget_logo logo_2">
						<a href="#"><img src="{% static 'images/footer-logo11.png' %}" alt="Agaie Emirate"></a>
						<p>Agaie Farin kasa garin mallam bubba</p>
						<ul class="widget_call_info">
							<li><a href="#"><i class="fa fa-map-marker"></i>Emir's Palace, Agaie central Area, Agaie LGA, Niger State</a></li>
							<li><a href="#"><i class="fa fa-phone"></i>+234 7069083565</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i>daresuleiman24@gmail.com</a></li>
						</ul>
						<ul class="widget_social_icon">
							<li><a class="hvr-ripple-out" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="hvr-ripple-out" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="hvr-ripple-out" href="#"><i class="fa fa-tumblr"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget_event event_2">
						<h4 class="widget_title">Quick Message</h4>
						<form method="post" class="comment-form">
							<div class="kode-left-comment-sec">
								<div class="kf_commet_field">
									<input placeholder="Enter Your Name" name="author" type="text" value="" data-default="Name*" size="30" required>
								</div>
								<div class="kf_commet_field">
									<input placeholder="Your Email" name="email" type="text" value="" data-default="Email*" size="30" required>
								</div>
							</div>
							<div class="kode_textarea">
								<textarea placeholder="Your Message" name="comment"></textarea>
							</div>
							<button class="medium_btn theme_color_bg">Submit Now</button>
						</form>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget_event event_2">
						<!--Latest event-->
					</div>
				</div>
			</div>
		</div>
		<!--CONTAINER END-->
	</div>
	<!--WIDGET WRAP END-->
	
	<!--WIDGET COPYRIGHT START-->
	<div class="widget_copyright">
		<!--CONTAINER START--> 
		<div class="container">
			<div class="copyright_text">
				<p>Copyright© 2017. All Rights <a href="#">Reserved agaieemirate.com</a></p>
				<a id="child-topbtn" class="top_btn hvr-wobble-vertical" href="#"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
			</div>
		</div>
		<!--CONTAINER END-->
	</div>
	<!--WIDGET COPYRIGHT END-->
</footer>