<header>
	<!--KODE TOP WRAP START-->
	<div class="kode_top_wrap">
		<!--CONTAINER START-->
		<div class="container">
			<!--ROW START-->
			<div class="row">
				<div class="col-md-6">
					<!--KODE TOP INFO START-->
					<div class="kode_top_info">
						<ul>
							<li><a href="#"><i class="fa fa-envelope"></i>info@agaieemirate.ng</a></li>
							<li><a href="#"><i class="fa icon-technology"></i>+234 81 602 12 483</a></li>
						</ul>
					</div>
					<!--KODE TOP INFO END-->
				</div>
				<div class="col-md-6">
					<div class="kode_top_right_text">
						<ul class="top_icon_fig">
							<li><a href="index.html#"><img src="images/icon-img.png" alt=""></a></li>
							<li><a href="index.html#"><img src="images/icon-img1.png" alt=""></a></li>
							<li><a href="index.html#"><img src="images/icon-img2.png" alt=""></a></li>
							<li><a href="index.html#"><img src="images/icon-img3.png" alt=""></a></li>
						</ul>
						<form method="post" id="commentform" class="comment-form">
							<div class="kf_commet_field">
								<input placeholder="Your Keyword" name="author" type="text" value="" data-default="Name*" required>
								<button><i class="fa fa-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--ROW END-->
		</div>
		<!--CONTAINER END-->
	</div>
	<!--KODE TOP WRAP END-->
	
	<!--KODE TOP LOGO WRAP START-->
	<div class="kode_top_logo_wrap them_overlay">
		<!--CONTAINER START-->	
		<div class="container">
			<div class="top_logo">
				<h1><a href="index.html#"><img src="images/top-logo.png" alt="Agaie Emirate"></a></h1>
			</div>
			<!--<div class="top_time_circle">-->
			<!--	<ul>-->
			<!--		<li><a href="index.html#">Fajr</a><span>5:30</span></li>-->
			<!--		<li><a href="index.html#">Dhur</a><span>1:30</span></li>-->
			<!--		<li><a href="index.html#">Asar</a><span>5:00</span></li>-->
			<!--		<li><a href="index.html#">Magrib</a><span>6:30</span></li>-->
			<!--		<li><a href="index.html#">iSHA</a><span>8:00</span></li>-->
			<!--	</ul>-->
			<!--</div>-->
		</div>
		<!--CONTAINER END-->
	</div>
	<!--KODE TOP LOGO WRAP END-->
	
	<!--KODE NAVIGATION WRAP START-->
	<div class="kode_navigation_wrap">
		<!--CONTAINER START-->	
		<div class="container">
			<div class="navigation">
				<ul>
					<li><a class="active" href="/">Home</a>
					</li>
					<li><a href="/about">About Us</a></li>
					<!--<li><a href="#">Events</a>-->
					<!--</li>-->
					<!--<li><a href="#">News</a>-->
					<!--</li>-->
					<li><a href="/blog">blog</a>
					</li>
					<!--<li><a href="index.html#">portfolio</a>-->
					<!--</li>-->
					<!--<li><a href="index.html#">Pages</a>-->
					<!--	<ul class="kode">-->
					<!--		<li><a href="event.html">event</a></li>-->
					<!--		<li><a href="404.html">404 page</a></li>-->
					<!--		<li><a href="shop.html">shop page</a></li>-->
					<!--		<li><a href="coming-soon.html">coming soon</a></li>-->
					<!--		<li><a href="event-detail.html">event detail</a></li>-->
					<!--		<li><a href="event-sidebar.html">event sidebar</a></li>-->
					<!--		<li><a href="team-detail.html">team detail</a></li>-->
					<!--	</ul>-->
					<!--</li>-->
					<li><a href="/contact">Contact Us</a></li>
				</ul>
				<!--DL Menu Start-->
				<div id="kode-responsive-navigation" class="dl-menuwrapper">
					<button class="dl-trigger">Open Menu</button>
					<ul class="dl-menu">
						<li><a class="active" href="/">Home</a></li>
						<li class="menu-item kode-parent-menu"><a href="/about">About Us</a></li>
						<li class="menu-item kode-parent-menu"><a href="#">Events</a></li>
						<li class="menu-item kode-parent-menu"><a href="#">News</a></li>
						<li class="menu-item kode-parent-menu"><a href="/blog">blog</a></li>
						<!--<li class="menu-item kode-parent-menu"><a href="index.html#">portfolio</a></li>-->
						<!--<li class="menu-item kode-parent-menu"><a href="index.html#">Pages</a></li>-->
						<li><a href="contact-us.html">contact Us</a></li>
					</ul>
				</div>
			<!--DL Menu END-->
			</div>
		</div>
		<!--CONTAINER END-->
	</div>
	<!--KODE NAVIGATION WRAP END-->
</header>