<div class="kode_Philosophy_wrap them_overlay">
    <!--CONTAINER START-->
    <div class="container">
        <!--SECTION HDG START-->
        <div class="section_hdg hdg_2 hdg_3">
            <h3>King makers</h3>
        </div>
        <!--SECTION HDG END-->
        <div class="kode-pholisophy-slide">
            <div>
                <div class="kode_philosophy_text">
                    <span class="hvr-ripple-out">علم</span>
                    <h4><a href="#">Ndeji</a></h4>
                    <h6>Amali</h6>
                    <p>Audu Maza</p>
                    <a class="small_btn background-bg-dark btn_hover" href="#">Read More</a>
                </div>
            </div>

            <div>
                <div class="kode_philosophy_text">
                    <span class="hvr-ripple-out">علم</span>
                    <h4><a href="#">Mayaki</a></h4>
                    <h6>Dodondawa</h6>
                    <p>Mamman Bakoshi</p>
                    <a class="small_btn background-bg-dark btn_hover" href="#">Read More</a>
                </div>
            </div>
            
            <div>
                <div class="kode_philosophy_text">
                    <span class="hvr-ripple-out">علم</span>
                    <h4><a href="#">Ubandaki</a></h4>
                    <h6>giwa</h6>
                    <p>Sani Sami</p>
                    <a class="small_btn background-bg-dark btn_hover" href="#">Read More</a>
                </div>
            </div>
            
            <div>
                <div class="kode_philosophy_text">
                    <span class="hvr-ripple-out">علم</span>
                    <h4><a href="#">Nnafene</a></h4>
                    <h6>Amali</h6>
                    <p>Mamman Bakoshi</p>
                    <a class="small_btn background-bg-dark btn_hover" href="#">Read More</a>
                </div>
            </div>
            
            <div>
                <div class="kode_philosophy_text">
                    <span class="hvr-ripple-out">علم</span>
                    <h4><a href="#">Nakorji</a></h4>
                    <h6>Daniyan</h6>
                    <p>Mamman Bakoshi</p>
                    <a class="small_btn background-bg-dark btn_hover" href="#">Read More</a>
                </div>
            </div>
            
            <div>
                <div class="kode_philosophy_text">
                    <span class="hvr-ripple-out">علم</span>
                    <h4><a href="#">Chief Imam</a></h4>
                    <h6>Shehu</h6>
                    <p>Mam Bagi</p>
                    <a class="small_btn background-bg-dark btn_hover" href="#">Read More</a>
                </div>
            </div>
            
            <div>
                <div class="kode_philosophy_text">
                    <span class="hvr-ripple-out">علم</span>
                    <h4><a href="#">Waziri</a></h4>
                    <h6>Daudu</h6>
                    <p>Mamman Bakoshi</p>
                    <a class="small_btn background-bg-dark btn_hover" href="#">Read More</a>
                </div>
            </div>
            
            <div>
                <div class="kode_philosophy_text">
                    <span class="hvr-ripple-out">علم</span>
                    <h4><a href="#">Council Chairman</a></h4>
                    <h6>Secretary</h6>
                    <p>Mamman Bakoshi</p>
                    <a class="small_btn background-bg-dark btn_hover" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!--CONTAINER END-->
</div>