<div class="kode_newsletter_wrap">
	<!--CONTAINER START-->	
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="kode_newsletter_des">
					<span><i class="fa fa-envelope"></i></span>
					<div class="kode_newsletter_text">
						<h5><a href="index.html#">Newsletter Sign Up</a></h5>
						<p>For Latest Updates of the Emirate</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="kode_newsletter_form">
					<form>
						<div class="kf_commet_field">
							<input placeholder="Enter Your Email" name="url" type="text" value="" data-default="Website" size="30" required>
							<button class="medium_btn background-bg-dark">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--CONTAINER END-->
</div>